div{
	height: 200px;
	width: 200px;
}

#azul{
	background-color: blue;
}

#rojo {
	background-color: red;
}

#amarillo {
	background-color: yellow;
}

#verde {
	background-color: green;
}

#key {
	border: solid black 2px;
}